.ant-layout-sider-zero-width-trigger{
	top: 0;
	border-radius: 0;
	z-index: 1;
}
#main-title{
	padding-left: 12px;
	font-size: 1.5em;
	font-weight: 500;
	line-height: 2.3;
}

.pointer{
	cursor: pointer;
}

.right{
	text-align: right;
}

.center{
	text-align: center;
}

.left{
	text-align: left;
}

.float-right{
	float: right;
}

@media only screen and (max-width: 992px) {
	#main-title{
		padding-left: 42px;
	}
}
